# Laravel
laravel/rentigo_api/.env
laravel/rentigo_api/vendor/
laravel/rentigo_api/storage/logs/
laravel/rentigo_api/storage/framework/
laravel/rentigo_api/bootstrap/cache/

# Flutter
flutter/flutter_application_1/.dart_tool/
flutter/flutter_application_1/build/
flutter/flutter_application_1/.idea/
flutter/flutter_application_1/.flutter-plugins
flutter/flutter_application_1/.flutter-plugins-dependencies
flutter/flutter_application_1/pubspec.lock